<h2>Productos</h2>
<ul>
  {{#each response}}
    <br>
    <br>
    <li>ID: {{this.id}}</li>
    <li>Title: {{this.title}}</li>
    <li>Description: {{this.description}}</li>
    <li>Code: {{this.code}}</li>
    <li>Price: {{this.price}}</li>
    <li>Stock: {{this.stock}}</li> 
    <li>Category: {{this.category}}</li>
  {{/each}}
</ul>


